<%- include('header')-%>
<%- include('nav')-%>
     <div class="testimonial section-padding" data-scroll-index="3">
            <div class="container">
                <div class="row py-lg-5 justify-content-center">
                    <div class="col-xl-7">
                        <div class="section_heading">
                            <h3>Đang có <%= allUser.length %> người dùng</h3>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-md-11">
                        <div class="testimonial-content">
                            <div class="owl-carousel owl-theme owl-loaded owl-drag">
                                
                                
                            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1558px, 0px, 0px); transition: all 0s ease 0s; width: 4676px;"><div class="owl-item cloned" style="width: 769.323px; margin-right: 10px;"><div class="row align-items-center no-gutters">
                                    <div class="col-xl-6 col-md-6">
                                        <div class="customer-img">
                                            <img class="img-fluid" src="/images/admin/inter_tn.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                        <div class="customer-review px-4">
                                            <img class="img-fluid" src="" alt="">
                                            <p>Chủ động quản lý tài khoản, thực hiện giao dịch mọi lúc mọi nơi ngay trên máy tính xách tay
                                            </p>
                                            <div class="customer-info">
                                                <h2>Internet Banking</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div></div><div class="owl-item cloned" style="width: 769.323px; margin-right: 10px;"><div class="row align-items-center no-gutters">
                                    <div class="col-xl-6 col-md-6">
                                        <div class="customer-img">
                                            <img class="img-fluid" src="/images/admin/mobile_tn.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                        <div class="customer-review px-4">
                                            <img class="img-fluid" src="./ACB banking_files/3.webp" alt="">
                                            <p>Chủ động quản lý tài khoản, thực hiện giao dịch mọi lúc mọi nơi ngay trên thiết bị di động</p>
                                            <div class="customer-info">
                                                <h2>Mobile Banking</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev waves-effect"><i class="fa fa-arrow-left"></i>
                                </button>
                                <button type="button" role="presentation" class="owl-next waves-effect"><i class="fa fa-arrow-right"></i></button></div><div class="owl-dots disabled"></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<%- include('taskBar')-%>
<%- include('footer')-%>