<%-  include('header')-%>
<%-  include('nav')-%>
<title>Edit User</title>

<div class="container emp-profile">
   <div class="row justify-content-center">
        <div class="col-8">
            <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center"> 
                            Id:  <%= user.id %> <br>
                            Email: <%= user.email %> <br>
                            Name: <%= user.displayName %>
                            Account : <%= user.account_number %>
                        </li>
                        
            </ul>
        <form action="/user_management/<%=user.id %>" method="POST">
            
            <div class="form-group" id = "example2">
                <label for="text">Email</label>
                <input type="text" value="<%= user.email %>" class="form-control" id="email" name="email">
            </div>
            <div class="form-group" id = "example2">
                <label for="text">Display name</label>
                <input type="text"  value="<%= user.displayName %>" class="form-control" id="displayName" name="displayName">
            </div>  
               <!-- paperType-->
            <div class="form-group" id = "example2">
                <select class="browser-default custom-select" name = "paperType">
                    <option value="CMND">CMND</option>
                    <option value="CCCD">CCCD</option>
                    <option value="passPort">Hộ chiếu</option>
                </select>
            </div>
                 <!-- Id -->
            <div class="form-group" id = "example2">
                <label for="text">Id no:</label>
                <input type="text"  value="<%= user.number_paper %>" class="form-control" id="numberPaper" name="numberPaper">
            </div>  
             <!-- paperType-->
            <div class="form-group" id = "example2">
                <label for="text">Id no:</label>
                <input type="text"  value="<%= user.number_paper %>" class="form-control" id="numberPaper" name="numberPaper">
            </div>  
            <button type="submit" class="btn btn-info">Save</button>
        </form>
        </div>
    </div>
</div>

 <%- include('footer'); -%>
