<%- include('header'); -%>
<title>Profile</title>
<link rel="stylesheet" href="stylesheets/mystyle.css">
<%- include('nav'); %>
<!------ Include the above in your HEAD tag ---------->
<div class="container emp-profile" style = "margin-top: 110px;">
<br><br>
<h2 style="text-align: center; color: black;">Thông tin cá nhân</h2>
<br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h2 style="color: #100303">
                                       <%= currentUser.displayName%>
                                    </h2>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" style ="background-color: #a896c7" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                       <div class="profile-img">
                            <img src="/images/usersProfile/<%=id%>.png" alt="profile">
                           
                              <form id="uploadForm" enctype="multipart/form-data" action="/profile/upload" method="POST">
                                                <div class="file btn btn-lg btn-primary">
                                                    <input type="file" accept="image/*" onchange="loadFile(event)" name="userProfile" />
                                                    <input type="submit" value="Upload Image" name="submit">
                                                    <span id = "status"></span></br>
                                                </div>
                                                <img id="output"/>
                              </form>
                        </div>
                        <div class="profile-work">
                                <p>BANK</p>
                            </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p> <%= currentUser.email%> </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Số điện thoại</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p> <%= currentUser.phoneNumber%> </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Loại giấy tờ</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p> <%= currentUser.paper_type %> </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Số giấy tờ</label>
                                            </div>
                                            <div class="col-md-6">
                                                 <p> <%= currentUser.number_paper %> </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Ngày mở</label>
                                            </div>
                                            <div class="col-md-6">
                                               <p> <%= getdate %> </p>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Số tài khoản</label>
                                            </div>
                                            <div class="col-md-6">
                                               <p> <%= currentUser.account_number %> </p>
                                            </div>
                                        </div>
                                         <div class="row">
                                            <div class="col-md-6">
                                                <label>Trạng thái</label>
                                            </div>
                                            <div class="col-md-6">
                                               <% if(currentUser.active == true){ %>
                                                <p>Đã kích hoạt</p>
                                                <% } else{ %>  
                                                <p>Chưa kích hoạt</p>
                                                <% } %>
                                            </div>
                                        </div>
                                         <div class="row">
                                            <div class="col-md-6">
                                                <label>Quản trị viên</label>
                                            </div>
                                            <div class="col-md-6">
                                              <% if(currentUser.adminRole == true){ %>
                                                <p>Là quản trị viên</p>
                                                <% } else{ %>  
                                                <p>Không là quản trị viên</p>
                                                <% } %>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label></label>
                                            </div>
                                            <div class="col-md-6">
                                                <p></p>
                                            </div>
                                        </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Your Bio</label><br/>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
</body>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };
</script>
<%- include('footer'); -%>