<%- include('header'); -%>
<%- include('nav'); -%>
<link rel="stylesheet" href="stylesheets/mystyle.css">
<div class="authincation section-padding">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-xl-5 col-md-6">
                    <div class="mini-logo text-center my-5">
                        <img src="images/ACB_Logo.png" alt="" style=" height: 45px">
                    </div>
                    <div class="auth-form card frmrgtaccount" >
                        <div class="card-header justify-content-center ">
                            <h4 class="card-title">Đăng kí tài khoản người dùng</h4>
                        </div>
                        <div class="auth-form card frmrgtaccount" >
                            <div class="card-header justify-content-center ">
                                <h4 class="card-title">Đăng kí tài khoản tiết kiệm</h4>
                            </div>
                            <div class = "showinfo">
                            <span class = "h3title">Số tài khoản:</span>
                            <span class = "h3info"> <%= currentUser.account_number %> </span><br><br>
                            <span class = "h3title" >Số dư hiện tại: <span>
                            <span class= "h3info money" id = "moneycurrent" ><%= tktt.current_balance %></span><br>
                            <span class = "h3info" style ="font-size: medium;"> VNĐ</span><br><br>
                            <span class = "h3title">Ngày mở:  </span>
                            <span class = "h3info"><%= openDay %> </h3>
                            </div>
                            <div class="card-body">

                                <form method="post" name="myform" class="signup_validate">
                                    <div class="form-group ">
                                        <label>Kỳ hạn (số tháng)</label>
                                        <input type="number" class="form-control" name ="term" id="term">
                                    </div>
                                      <div class="form-group ">
                                        <label>Số tiền gửi: </label>
                                        <input type="text" class="form-control money" name ="money" id="money">
                                    <br><h4 class="card-title">Lãi suất: 7% /năm </h4>
                                    </div>
                                     <div class="text-center mt-4">
                                        <button type="button" onclick ="getInfo()" class = "btnreg" >Kiểm tra</button>
                                    </div>

                                    <div class="showinfo">
                                        <h3  class= "textaleart" name = "checkmoney" id="checkmoney"> </h3>
                                        <span>Tiền tiết kiệm:	&nbsp</span>
                                        <span class="money" style ="margin-left:35px;"  name = "showMoney" id="showMoney"> </span>
                                        <span >VNĐ</span>
                                        <br><br>
                                        <span> Kỳ hạn:	&nbsp</span>
                                        <span style ="margin-left:40px;"name = "showTerm" id="showTerm"> </span>
                                        <span> tháng</span>
                                        <br><br>
                                        <span> Ngày đóng: &nbsp </span>
                                        <span id = "showDate"> </span>
                                        <br><br>
                                        <span> Lãi suất: </span>
                                        <span style ="margin-left:40px;"name = "interestRate" id ="interestRate"></span>
                                        <span>%</span>
                                        <br><br>
                                    </div>
                                      <input type ="submit" id = "confirm" disabled  class="buttontk btnconfirm" value = "Xác nhận">

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<script type="text/javascript" src="/javascripts/saving-account.js"></script>

<%- include('footer'); -%>
