<%- include('header'); -%> <%- include('nav'); -%>

<div class="content-body">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="buy-sell-widget">
                            <div class="tab-content tab-content-default">
                                <div class="card-header justify-content-center">
                                    <h3 class="card-title">Chuyển tiền</h3>
                                </div>
                                <div class="tab-pane fade show active" id="buy" role="tabpanel">
                                    <form method="POST" class="currency_validate" novalidate="novalidate">
                                        <div class="form-group">
                                            <h2 class="mr-sm-2">Tài khoản trích (VND) : <%= currentUser.account_number %> - <%= currentUser.displayName %></h2>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <h1 class="mr-sm-2 money"><%= sourceAccount.current_balance %></h1>
                                                <h1 class="mr-sm-2">VND</h1>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <h2 class="mr-sm-2">Thông tin người nhận</h2>
                                        </div>

                                        <div class="form-group">
                                            <label class="mr-sm-2">Ngân hàng</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text"><i class="fa fa-bank"></i></label>
                                                </div>
                                                <select class="form-control" name="destinationBankId" style="color: red">
                                                    <option selected value="ACB">ACB - NH TMCP A Chau</option>
                                                    <option value="VIETCOMBANK">VIETCOMBANK - NH TMCP Ngoai Thuong</option>
                                                    <option value="AGRIBANK">AGRIBANK - NH NONG NGHIEP VA PHAT TRIEN NONG THON</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="mr-sm-2">Số tài khoản nhận</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text"><i class="fa fa-credit-card-alt"></i></label>
                                                </div>
                                                <div class="form-group">
                                                    <h4 style="color: red; text-align: end"><%= errDestinationAccount %></h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="mr-sm-2">Nhập số tiền</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text"><i class="fa fa-usd"></i></label>
                                                </div>
                                                <input type="text" name="amount" class="form-control money" value="10000" min="10000" max="100000000" onkeypress="return onlyNumberKey(event)" />
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text">VND</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <h4 style="color: red; text-align: end"><%= errAmount %></h4>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend col-6">
                                                    <h6 class="mb-0" style="color: red">Hạn mức còn lại trong ngày</h6>
                                                </div>
                                                <div class="input-group-prepend col-6" style="justify-content: flex-end">
                                                    <h6 class="mb-0 money"><%= 100000000 - totalAmountTransaction %></h6>
                                                    <h6 class="mb-0">&nbsp VND</h6>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="mr-sm-2">Nội dung</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text"><i class="fa fa-pencil-square-o"></i></label>
                                                </div>
                                                <div class="form-group">
                                                    <h4 style="color: red; text-align: end"><%= errNote %></h4>
                                                </div>
                                            </div>

                                            <button type="submit" class="btn btn-success btn-block waves-effect">Tiếp tục</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('footer'); -%>
