<%- include('header')-%>
<%- include('nav')-%>

<title> User account </title>   
<link rel="stylesheet" href="stylesheets/mystyle.css">


<div class = "container emp-profile" style = "margin-top: 110px;">
<br>
  

<div class="col-xl-7 col-lg-7 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="buyer-seller">
                    <div class="d-flex justify-content-between mb-3">
                            <div class="media">
                                <div class="media-body">
                                    <h2>Thông tin tài khoản</h2>
                                    <h4 style="color:black"><%= currentUser.displayName %></h4>
                                     <h4 style="color:black"><%= currentUser.email %></h4>
                                </div>
                            </div>
                        
                    </div>
                      <% if(tktk == null) { %>
                        <a href="./savings_account" class="buttontk">Đăng kí tài khoản tiết kiệm</a>
                     <% } %>
                     <br><br>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr >
                                    <td><span class="text-primary">Số tài khoản</span></td>
                                    <td><span class="text-primary"><%= currentUser.account_number %></span></td>
                                </tr>
                                 <tr >
                                    <td><span class="text-primary">Ngày mở</span></td>
                                    <td><span class="text-primary"><%= openDay %></span></td>
                                </tr>
                                <tr style = "background: #655f5f;" >
                                <td style = "width:200px;">
                                    <h4> Tài khoản thanh toán</h4>
                                </td>
                                </tr>
                                <tr>
                                    <td>Số dư</td>
                                    <td>
                                    <%= money %> VNĐ
                                    <br>
                                    <span><%= tkttvnd %> đồng</span>
                                    </td>
                                </tr>
                              
                                <tr style = "margin-left:100px;background: #655f5f;" >
                                <td style = "width:200px;">
                                    <h4> Tài khoản tiết kiệm 

                                    <% if(tktk ==null){ %>
                                        &nbsp (Chưa đăng kí) 
                                    <%} %>
                                     </h4>
                                </td>

                                </tr>
                                <% if(tktk) { %>
                                <tr>
                                <td>Số dư tiết kiệm:</td>
                                <td> <%= moneyInSavingsAc %> VNĐ <br>
                                <span><%= tktkvnd %> đồng</span>
                                 </td>
                                </tr>
                                 <tr>
                                    <td>Lãi suất</td>
                                    <td><%= tktk.interest_rate %> %</td>
                                 </tr>
                                <tr>
                                    <td>Kỳ hạn</td>
                                    <td><%= tktk.term%> tháng</td>
                                </tr>
                                <tr>
                                    <td>Ngày đóng</td>
                                    <td><%= closeDay %> </td>
                                </tr>
                              
                                <% } %>


                            </tbody>
                        </table>
                         <a href="./transaction_history" class="buttontk">Xem lịch sử giao dịch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<%- include('footer')-%>