<%-include('../views/header.ejs')-%>
<h1>ACB: <%= func%></h1>
<h1>Số tài khoản: <%= account.account_number %></h1>
<h1>Số tiền GD: + <%= currentBalance %> VND </h1>
<h1>Số dư cuối: <%=accountBack%> VND</h1>
<%-include('../views/footer.ejs')-%>